/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* aspecto general del body */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 10px;
}

/* encabezado y sus partes */
header {
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

nav {
    width: 100%;
}

nav h1 {
    text-align: left;
    font-size: 24px;
}

nav h3 {
    text-align: left;
    font-size: 20px;
}

.boton {
    background-color: pink;
    text-decoration: none;
    text-align: right;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

.zonas-padre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}

.zona {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-zona {
  width: 200px; 
  margin-bottom: 15px;
}

/* pagina butstrap edificios */

.boton_de_edificios {
  display: none;
}

.titulo-edificio {
  display: block;
  background-color: #d48216;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* al pasar por arriba del boton va a cambiar de color */
.titulo-edificio:hover {
  background-color: #fffc4d;
}

.opciones {
  display: none;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.boton_de_edificios:checked + .titulo-edificio + .opciones {
  display: flex;
}

.opcion {
  text-decoration: none;
  color: #007bff;
  font-weight: normal;
}

.opcion:hover {
  text-decoration: underline;
  color: #0056b3;
}